.mocd_pane {
	/*width:300px;
	height:450px;*/
	/* overflow:scroll; FIXME??? */
	bborder: solid 1px #f00;
}

ul.mocd_pane_list {
    list-style-type: none;
    display: table-row;
    white-space: no-wrap;
}

li.mocd_pane_item {
    xdisplay: inline-block; /* table-cell; doesn't work */
}

#mocd_wrapper_all {
	position:relative;
	/*width:800px;*/
	width:auto;
	/*height:655px;*/
	border: solid 1px #0ff;
}

#mocd_wrapper_all div {
    display: inline-block;
    vertical-align: top;
}

.mocd_path {
	/*float:left;
	width:auto;
	height:18px;*/
	background-color:#ddd;
	/*border: 1px solid #888;*/
	font-size: 14px;
    font-weight: bold;
	padding: 3px; 
}

.mocd_wrapper_pane {
	xfloat:left;
    display: inline-block;
	xwidth:303px;
	xheight:540px;
	border: solid 1px #ff0;
}

.mocd_pane_list div {
    vertical-align: middle;
}


.mocd_clickable {
	cursor: pointer;
}
/* Folder icon or thumbnail image in pane */
.mocd_pane_img {
    width: 50px;
    max-width: 8vw;
    margin: 0 5px 0 5px;
}

.mocd_box1{
	xposition:relative;
	xwidth:200px;
	xheight:75px;
	padding:0 0 5px 0;
}

.mocd_filename {
	border: solid 0px #f00;
}

.mocd_dir_up {
	xfloat:left;
	xpadding:3px;
    padding-right: 8px;
}
.mocd_dir_new {
	xfloat:left;
    padding-right: 8px;
}
/*.mocd_select_all {
	float:left;
	padding-left: 7px;
}
.mocd_deselect_all {
	float:left;
	padding-left: 7px;
    position:relative;top:-2px; 
}
.mocd_select_all_button {
    
	height:14px;
	font-weight:bold;
	font-size:7px;
	line-height:8px;
	color:#000099;
	background-color:#def3ff;
	border:1px solid #050505;
	cursor:pointer;
}
*/

#mocd_center_wrapper {
	xwidth: 34px;
	xfloat:left;
	border: solid 1px #00f;
    padding-top: 10em;
}

div#mocd_btn_left2right {
	xpadding:10px 5px 0 5px;
    display: block;
}
div#mocd_btn_right2left {
	xpadding:10px 5px 0 5px;
    display: block;
}
div#mocd_btn_left2right img,
div#mocd_btn_right2left img {
    max-width: 5vw;
}


#mocd_right_menu {
	position:absolute;
	border: 1px solid #555;
	background-color: #eee;
	padding: 4px;
}

.mocd_right_menu_item {
	font-size: 12px;
	font-color:#000;
	background-color:#eee;
}
.mocd_right_menu_item:hover {
	font-size: 12px;
	color:#fff;
	background-color:#111;
}

/* Mini dialogue */
#mocd_input_text {
	position: fixed; /*absolute;*/
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centre it on the given point */
	border: 1px solid #777;
	background-color: #eee;
	padding: 4px;
}

.mocd_input_text_button_wrapper {
	margin-top: 4px;
}

.mocd_input_text_button {
	display: inline;
	/*border: 1px solid #555;
	margin-right: 4px;*/
}

.mocd_filename {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Progress bar */
#xmocd_progressbar {
	position: fixed; /*absolute;*/
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%); /* centre it on the given point */
	border: 1px solid #777;
	background-color: #eee;
	padding: 4px;
}
#xmocd_progresslabel {
    position: absolute;
    /*left: 50%;*/
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

#mocd_wrap .ui-progressbar-value {
    height: 1.5em;
}

/* Hide close [X] on dialogue */
#mocd_wrap .mocd_dialog_no_close .ui-dialog-titlebar-close {
    display: none;
}


/* Adjust CSS for JQuery UI stuff */
/* Our version only affects #mocd_wrapper_all,   */
/* but other plugins (e.g. rotary meetings!)     */
/* allow their UI CSS to leak all over the place */

/*
#mocd_wrapper_all .ui-widget-header {
	background: grey;
	color: black;
	border: 1px solid black;
}
*/
