.mocd_pane {
	/*width:300px;
	height:450px;*/
	overflow:scroll;
	bborder: solid 1px #f00;
}

.mocd_pane_list {
    list-style-type: none;
}

#mocd_wrapper_all {
	position:relative;
	/*width:800px;*/
	width:auto;
	/*height:655px;*/
	border: solid 1px #0ff;
}

#mocd_wrapper_all div {
    display: inline-block;
    vertical-align: top;
}

.mocd_path {
	/*float:left;
	width:auto;
	height:18px;*/
	/*background-color:#ddd;*/
	/*border: 1px solid #888;*/
	font-size: 14px;
	/*padding: 0px; */
}

.mocd_wrapper_pane {
	xfloat:left;
    display: inline-block;
	xwidth:303px;
	xheight:540px;
	border: solid 1px #ff0;
}

.mocd_pane_list div {
    vertical-align: middle;
}

.mocd_pane_item {
    xvertical-align: middle;
    xdisplay: block;
    xheight: 55px;
    xclear: both; 
    xposition: relative;
}

/* Folder icon or thumbnail image in pane */
.mocd_pane_img {
    width: 50px;
    margin: 0 5px 0 5px;
}

.mocd_box1{
	xposition:relative;
	xwidth:200px;
	xheight:75px;
	padding:0 0 5px 0;
}

.mocd_filename {
	border: solid 0px #f00;
}

#mocd_btn_left2right {
	padding:10px 5px 0 5px;
}
#mocd_btn_right2left {
	padding:10px 5px 0 5px;
}

.mocd_dir_up {
	xfloat:left;
	padding:3px;
}
.mocd_dir_new {
	xfloat:left;
}
/*.mocd_select_all {
	float:left;
	padding-left: 7px;
}
.mocd_deselect_all {
	float:left;
	padding-left: 7px;
    position:relative;top:-2px; 
}
.mocd_select_all_button {
    
	height:14px;
	font-weight:bold;
	font-size:7px;
	line-height:8px;
	color:#000099;
	background-color:#def3ff;
	border:1px solid #050505;
	cursor:pointer;
}
*/

#mocd_center_wrapper {
	width: 34px;
	xfloat:left;
	border: solid 1px #00f;
}


#mocd_right_menu {
	position:absolute;
	border: 1px solid #555;
	background-color: #eee;
	padding: 4px;
}

.mocd_right_menu_item {
	font-size: 12px;
	font-color:#000;
	background-color:#eee;
}
.mocd_right_menu_item:hover {
	font-size: 12px;
	color:#fff;
	background-color:#111;
}

#mocd_input_text
{
	position:absolute;
	border: 1px solid #777;
	background-color: #eee;
	padding: 4px;
}

.mocd_input_text_button_wrapper {
	margin-top: 4px;
}

.mocd_input_text_button {
	display: inline;
	border: 1px solid #555;
	margin-right: 4px;
}

