.mocd_pane {
	/*width:300px;
	height:450px;*/
	/* overflow:scroll; FIXME??? */
	/* bborder: solid 1px #f00; */
}

ul.mocd_pane_list {
    list-style-type: none;
    display: table-row;
    white-space: no-wrap;
}

li#mocd_pane_select_all {
}
li.mocd_pane_item {
    display: table-row; /* doesn't allow margin or padding */
}

/* Blurb at top of relocator page */
ul.mocd_blurb {
}
/* Folder icons minified within blurb */
img.mocd_inline_icon {
    height: 1em; 
    min-height: 16px;
    vertical-align: baseline;
}

div.mocd_pane_cell {
    display: table-cell !important;  /* to override #mocd_wrapper_all div */
}
/* table-cells can't have margins, so apply margins  */
/* to the things IN the cell                         */
/* (but not the checkboxes -- they're on the 2nd row */
.mocd_pane_cell div,
.mocd_pane_cell img {
    margin-top: 0.5em;
    word-break: break-all; /* for when img is replaced by alt text */
}

#mocd_pane_select_all .mocd_pane_cell {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

/* Folder icon or thumbnail image in pane */
.mocd_pane_img {
    width: 50px;
    max-width: 8vw;
    margin: 0 0.8em 0 0;
    vertical-align: text-top;
}

#mocd_wrapper_all {
	position:relative;
	/*width:800px;*/
	width:auto;
	/*height:655px;*/
	/*border: solid 1px #0ff !important;*/
}

#mocd_wrapper_all div {
    display: inline-block;
    vertical-align: top;
}

/* Pane's folder name */
.mocd_path {
	/* background-color:#ddd;
	border: 1px solid #888; */
	font-size: 120%;
    line-height: 1.3;
    font-weight: bold;
    padding: 0;
    word-break: break-all;
}

.mocd_wrapper_pane {
    display: inline-block;
    /*width: 45%; /* !! should be 47.4 -- less while using borders *//*calc(50% - 26px); /* allow for center wrapper */
    width: calc(50% - 48px/2); /* 48px of mocd_center_wrapper (plus 6x1px border while testing)
        /* FIXME allowing for max 48px of center wastes space on small screens */
	/* xwidth:303px;
	xheight:540px; */
	/*border: solid 1px #ff0 !important; */
}

.mocd_pane_list div {
    vertical-align: middle;
}

.mocd_clickable {
	cursor: pointer;
}

.mocd_dir_up {
    padding-right: 8px;
}

/* Greyed-out icon */
.mocd_greyed {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.mocd_dir_new {
    padding-right: 8px;
}

#mocd_center_wrapper {
	width: 8%; /* adjust in line with mocd_wrapper_pane */
    min-width: 20px;
    max-width: 48px;  /* arrows are 48x48 px including space on left and right */
    padding-top: 9em;
    height: 100%;
    /*border: 1px solid black !important;*/
}

div#mocd_left_pane_send,
div#mocd_right_pane_send {
    display: block;
    margin-top: 1em; /* space between arrows */
    /*min-width: 16px; see _wrapper 
    max-width: 5vw;*/
}
/* TODO do arrows need a div around them? */
div#mocd_left_pane_send img ,
div#mocd_right_pane_send img {
    width: 100%;
}

/* Used?? */
.mocd_input_text_button_wrapper {
	margin-top: 4px;
}

.mocd_input_text_button {
	display: inline;
	/*border: 1px solid #555;
	margin-right: 4px;*/
}

.mocd_filename {
    font-size: 110%;
    font-weight: bold;
    word-break: break-all;
}

/* Use border-box for everything in our scope */
/* from https://css-tricks.com/box-sizing/ */
/*
div#mocd_wrap {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div#mocd_wrap *, div#mocd_wrap *:before, div#mocd_wrap *:after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}
*/

#mocd_wrap .ui-progressbar-value {
    height: 1.5em;
}

/* Hide close [X] on dialogue */
#mocd_wrap .mocd_dialog_no_close .ui-dialog-titlebar-close {
    display: none;
}


/* Adjust CSS for JQuery UI stuff */
/* Our version only affects #mocd_wrapper_all,   */
/* but other plugins (e.g. rotary meetings!)     */
/* allow their UI CSS to leak all over the place */

/*
#mocd_wrapper_all .ui-widget-header {
	background: grey;
	color: black;
	border: 1px solid black;
}
*/


.mocd_wrapper_all input[type=checkbox]:disabled {
    opacity: 1.0; /* WP standard 0.7 is too much */
}

/****************** Media-specifc *********************/

@media screen and (max-width: 782px)

/* Note: WP sets this for @media screen per screen size */
/* e.g. 
 * @media screen and (max-width: 782px)
 * load-styles.php…list-table…:11
 * input[type=radio], input[type=checkbox] {
 *     height: 25px;
 *         width: 25px;
 *         }
 */
/* TODO this isn't working...
.mocd_wrapper_all input[type=checkbox] {
    width: 2em !important;
    height: 2em;
}
*/
